html {
    height: 100%;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    font-family: Slabo\ 27px,serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.red-color {
    color: #FF3366;
}
.style-none {
    text-decoration: none;
    color: #000;
}
.home-page {
    width: 100%;
    height: 100%;
}

.home-desc {
    width: 70%;
    height: 100%;
    display: table;
    float: right;
}

.navbar {
    display: table-row;
    z-index: 1;
    height: 60px;
}
.navbar ul {
  padding-left: 15%;
  margin-top: 30px;
  font-family: 'PT Sans', sans-serif;
}
.inline-me {
    display: inline-block;
}

li {
    margin: 0 70px 0 0;
    padding: 8px;
    padding-left: 0;
    font-size: 1.2em;
}

.li-style-on:hover {
    cursor: pointer;
}

.hover-border:hover {
    border-bottom: solid 1px red;
    cursor: pointer;
}

.home-desc-about {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15% 70px;
}
.title-name, .font-big, .resume-link{
  margin: 35px 0;
}
.title-name {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 7px;
    word-spacing: 8px;
    text-transform: uppercase;
}

.font-big {
    line-height: 1.75em;
        font-size: 1em;
        /* font-weight: 600; */
        color: #000;
        letter-spacing: 1px;
        word-spacing: 1px;
}

.resume-link {
  font-family: 'PT Sans', sans-serif;
  margin-top: 100px;
  letter-spacing: 1px;
}
.home-gallery {
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
    /*background-color: #EDEDED;*/
    background: url(./images/ps00.jpg);
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(1);
}

.home-gallery-box {
    width: 100%;
    position: absolute;
    top: 15%;
    left: -15%;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}


/*-----[ style the connect box ]------*/

.connect {
    width: 30%;
    height: 100%;
    position: fixed;
    left: 100%;
}

.connect-holder {
    width: 280px;
    height: 420px;
    position: relative;
    top: 26%;
    margin: auto;
    color: #555;
    border-radius: 5px;
    -webkit-transition: width 0.7s, top 0.7s;
    transition: width 0.7s, top 0.7s;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.connect-image {
    height: 400px;
    position: relative;
    top: -30px;
    border-radius: 4px;
    background: url('./images/ps20.jpg') center/cover;
    -webkit-transition: top 0.7s, left 4s;
    transition: top 0.7s, left 4s;
    z-index: 3;
}

.phone-me {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}


/*.phone-me {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.phone-me span {
  float: right;
  color: #FBFBE4;
  font-weight: 700;
  display: inline-block;
  margin: 0 5px;
  letter-spacing: 2px;
}

.phone-me img {
  height: 15px;
  width: 15px;
}*/

.connect-holder:hover {
    /*width: 320px;*/
    top: 30%;
}

.connect-holder:hover .connect-image {
    top: -150px;
    /*left: 70px;*/
}

.social-link {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: -2px;
    text-align: center;
}

.social-link p {
    font-size: 0.9em;
    letter-spacing: 1.6px;
    margin-bottom: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.social-link li {
    display: inline-block;
    list-style-type: none;
}

.social-link img {
    width: 20px;
    height: 20px;
}


/*----[ work page ]-----*/

.work-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 4;
    overflow: scroll;
    text-align: justify;
    visibility: hidden;
}
.work-page p {
  font-family: 'PT Sans', sans-serif;
}
.work-page a {
    color: #551A8B;
}
.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.side-line {
    position: fixed;
    left: 15%;
    width: 12px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 0 0 10px 10px;
}

.side-line,
.digit-number {
    z-index: -1;
}

.geekfunnel-container,
.weaponx-container {
    width: 90%;
    margin: auto;
}

.digit-number {
    font-size: 700%;
    float: left;
    position: absolute;
    left: 5%;
    color: rgba(0, 0, 0, 0.04);
    font-family: Slabo\ 27px,serif;
}

.image-shadow img {
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*-webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.2);*/
}

.project-about {
    width: 55%;
    margin: 55% auto 0;
    opacity: 0;
    position: relative;
    top: 250px;
}

.project-about a {
    text-decoration: none;
}

.project-about a p {
    margin-top: 30px;
}

.big-letter:first-letter {
    float: left;
    color: #f00;
    font-size: 55px;
    line-height: 50px;
    padding-top: -4px;
    padding-right: 8px;
    padding-left: 2px;
    font-family: Georgia;
}

.project-coverpic {
    height: 100%;
    display: table;
    position: relative;
    left: 80%;
    opacity: 0;
}


/*.coverpic-box {
  width: 80%;
  height: 100%;
  background-image: url('./images/geekfunnel-cover.png');
  background-size: cover;
  background-position: center;
}*/

.project-coverpic img {
    width: 100%;
    margin: 27% auto 0 auto;
}

.geekfunnel-subcontainer {
    width: 100%;
    margin: 15% 11% 17%;
}
.tb-cell {
    display: table-cell;
    vertical-align: middle;
}
.subcont-height {
    height: 70%;
}
.geekfunnel-subcontainer p {
    position: relative;
    padding: 15px;
}

.geekfunnel-pic {
    max-width: 550px;
    display: table;
    position: relative;
    left: 300px;
    opacity: 0;
    z-index: 1;
}

.geekfunnel-pic img {
    width: 100%;
}

.geeksubinfo {
    position: relative;
    left: -300px;
    opacity: 0;
    max-width: 300px;
    margin: auto;
}

.resume-link img {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}
.resume-link span {
    float: right;
    margin-right: 25px;
}
.phone-no {
    position: relative;
    top: -7.5px;
    padding-left: 15px;
    visibility: hidden;
}
.phone-no, .phone-icon {
    cursor: pointer;
}
.phone-no:hover {
    visibility: visible;
}
.phone-icon-box:hover + .phone-no{
    visibility: visible;
}

/*------[ code for responsiveness ]---------*/
@media  screen and (max-width: 700px) {
    .home-gallery {
        width: 100%;
        height: 50%;
        float: none;
    }
    .home-desc {
        width: 100%;
        float: none;
    }
    .navbar ul {
        padding: 0;
        text-align: center;
    }
    .navbar li {
        margin: 0 30px;
    }
    .home-desc-about {
        padding: 0 15%;
    }
}
@media  screen and (max-width: 700px) {
    
    .navbar li {
        margin: 0 20px;
    }
    .title-name {
        font-size: 1.5em;
    }
    .resume-link {
        margin-top: 50px;
    }
}
@media  screen and (max-width: 700px) {
    
    .navbar li {
        margin: 0 10px;
        font-size: 1em;
    }
}







