html {
  height: 100%;
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
}
.red-color {
  color: red;
}
.home-page {
	width: 100%;
	height: 100%;
	color: #000;
}
.home-desc {
  width: 60%;
  height: 100%;
  background-color: #fff;
  float: left;
}
.home-desc-about {
  max-width: 400px;
  height: auto;
  margin: auto;
  margin-left: 20%;
  position: relative;
  top: 30%;
  letter-spacing: 3px;
}
.title-name {
  font-size: 1.3em;
}
.font-big {
  font-size: 2.8em;
}
.home-gallery {
  width: 40%;
  height: 100%;
  float: right;
}
.home-gallery-box {
  margin: 0;
  background-image: url("./images/p5.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.home-image {
  width: 180px;
  height: 200px;
  background-color: red;
  margin: 10px auto;
  /*-webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);*/
}


