html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
	
  font-family: 'Kaushan Script', cursive;
  background: url("images/wood1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



.starter{
	position: relative;
	width: 100%;
	height: 805px;
	
	background-size: cover;
	background-position: center;
	font-family: 'Kaushan Script', cursive;
	background-attachment: fixed;
	
 }



#slide1{
	background: transparent;
	/*background: url("images/wood.jpg");*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
 }

#box1{
	position: absolute;
    width: auto;
    height: auto;
    font-size: 30px;
    color: white; 
    top: 25%;
    left: 25%;
    z-index: 10;
    line-height: 40px;
    text-align: center;
}

#dp{
	position: absolute;
	height: 150px;
	width: 150px;
	background: url("images/dp.png");
	background-size: cover;
	background-position: center;
	top: 87%;
	left: 45%;
	z-index: 10;
	margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 50%;
        
}






#slide2{
 	position: absolute;
    color: white;
    font-size: 25px;
    background-color: #E63B34;
    width: 100%;
    height: 90%;
    line-height: 20px;
    background: transparent;   
    /*background: url("images/fire.jpg");*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	box-shadow: inset 0 0 0 1000px rgba(105,2,14,.3);
    
}

#box2{
	position: absolute;
    width: auto;
    height: auto;
    font-size: 30px;
    color: white; 
    top: 15%;
    z-index: 10;
    line-height: 40px;
    text-align: center;
}

#box2 p{
	font-family: 'Courgette', cursive;
	//font-family: 'Jura',sans-serif;
}


#slide3{
 	position: relative;
    color: white;
    font-size: 35px;
    background-color: #E63B34;
    width: 100%;
    height: 90%;
    top: 90%;   
    /*background: url("images/skills.jpg");*/
	background: transparent; 
	background-position: center;
	background-attachment: fixed;
    

}



.circle{
	position: absolute;
	height: 110px;
	width: 110px;
	background: transparent;

	text-align: center;
	margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 50%;
    overflow: hidden;
    background-size: contain;
}





#js{
	position: absolute;
    top: 40%;
	left: 15%;
    background-image: url("skills/js1.png");
}

#html{
	position: absolute;
    top: 40%;
	left: 25%;
    background-image: url("skills/html5.png");
}
#css{
	position: absolute;
    top: 40%;
	left: 35%;
    background-image: url("skills/css3.png");
}

#arduino{
	position: absolute;
    top: 40%;
	left: 45%;
	background-image: url("skills/ard.png");
	
}

#electro{
	position: absolute;
    top: 40%;
	left: 55%;
    background-image: url("skills/chip.png");
}

#jquery{
	position: absolute;
    top: 40%;
	left: 65%;
    background-image: url("skills/jquery.png");
}

#c{
	position: absolute;
    top: 40%;
	left: 75%;
    background-image: url("skills/c2.png");
}


.starter h2{
	margin: 0;
	text-align: center;
	position: relative;
	top: 10%;

}




#slide4{
 	position: relative;
    color: white;
    font-size: 35px;
    background-color: #E63B34;
    width: 100%;
    height: 90%;
    top: 90%;   
    /*background: url("images/walk.jpg");*/
	text-align: center;
    background: transparent; 
	background-position: center;
	background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(3,77,12,.3);

}



.block{
	position: absolute;
	height: 30%;
	width: 20%;
	border: 4px solid white;
	top: 30%;
}

#block1{
	background: url("images/work1.png");
	
	background-size: cover;
	background-position: center;
	left: 10%;
	
}



#block2{
    left: 40%;
    background: url("images/work2.png");
    
	background-size: cover;
	background-position: center;
}

#block3{
	left: 70%;
}

#slide5{
 	position: relative;
    color: white;
    font-size: 35px;
    background-color: #E63B34;
    width: 100%;
    height: 90%;
    top: 90%;   
    /*background: url("images/red.jpg");*/
	text-align: center;
    background: transparent; 
	background-position: center;
	background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

}

.connect{
	position: absolute;
	
	height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}

#fb{
	position: absolute;
	top: 40%;
	left: 20%;
	
}

#twitter{
	position: absolute;
	top: 40%;
	left: 40%;
    
}

#in{
	position: absolute;
	top: 40%;
	left: 60%;
   
}

#git{
	position: absolute;
	top: 40%;
	left: 80%;
   }

.connect img{
	height: 100%;
    width: 100%;

}



#slide5 h3{
	position: absolute;
	font-family: 'Jura',sans-serif;
	font-size: 25px;
	top: 70%;
	left: 40%;
}

#slide5 h4{
	position: absolute;
	font-family: 'Jura',sans-serif;
	font-size: 25px;
	top: 75%;
	left: 42%;
}