body{
	margin: 0;
	width: 100%;
	height: 100%;
    font-family: 'Kaushan Script', cursive;
}

.starter{
	position: relative;
	width: 100%;
	height: 805px;
	background: url("bg.jpg");
	background-size: cover;
	background-position: center;
	font-family: 'Kaushan Script', cursive;
	
	background-attachment: fixed;
	
 }

 

#box1{
	position: absolute;
    width: auto;
    height: auto;
    font-size: 30px;
    color: white; 
    top: 25%;
    left: 25%;
    z-index: 10;
    line-height: 40px;
    text-align: center;
}

#dp{
	position: absolute;
	height: 150px;
	width: 150px;
	background: url("dp.png");
	background-size: cover;
	background-position: center;
	top: 87%;
	left: 45%;
	z-index: 10;
	margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 50%;
        
}






.about{
 	position: absolute;
    color: white;
    font-size: 25px;
    background-color: #E63B34;
    width: 100%;
    height: 80%;
       
    background: url("fire.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}


